:root {
    --height-left: 550px;
    --height-head: 50px;
    --head-margin: 10px;
    --padding-description: 20px;
    --image-border-radius: 70px;
    --ingredients-steps-height: 100px;
    --space-between-sections: 7px;
    --margin-sides: 30px;
    --title-font-size: 20px;
    --section-bottom-margin: 15px;
}

.add-recipe-form {
    margin-top: 95px;
}

.two-sections-wrapper {
    display: flex;
    margin-bottom: var(--section-bottom-margin);
}


.section-left,
.section-right {
    flex: 1;
}


.section-left {
    margin-right: var(--space-between-sections);
    margin-left: var(--margin-sides);
}

.section-right {
    margin-left: var(--space-between-sections);
    margin-right: var(--margin-sides);
}



.black-title {
    font-size: var(--title-font-size);
    font-weight: bold;
}

.description-head {
    border: 1px solid #e6e5e5;
    margin-bottom: var(--head-margin);
    height: var(--height-head);
    color: orange;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: var(--padding-description);
}

.description-bottom {
    border: 1px solid #e6e5e5;
    height: calc(var(--height-left) - var(--height-head) - var(--head-margin));
    padding-left: var(--padding-description);
    padding-top: var(--padding-description);
}

.description-bottom-title {
    font-weight: bold;
    font-size: 18px;
}

.desc-field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.input-title {
    font-size: 14px;
    margin-bottom: 7px;
}

.input-field {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    padding: 8px;
}

.input-field:focus {
    border-color: #ffa500;
    box-shadow: 0 0 5px rgba(52, 73, 94, 0.5);
    outline: none;
}

.times-yields {
    display: flex;
}

.time-field {
    width: 150px;
    margin-right: 15px;
}

.yields-field {
    margin-left: auto;
}

.description-fields {
    display: flex;
    flex-direction: column;
    width: 93%;
}

.description-fields>div {
    margin-bottom: 10px;
}

.description-fields>div:last-child {
    margin-bottom: 0;
}

.desc-textbox {
    height: 100px;
    padding: 10px;
}

.category-desc {
    width: 250px;
}

.image-details-right {
    height: var(--height-left);

}


.image-details-left {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    height: var(--height-left);
    border: 1px solid #e6e5e5;
}


.add-image-head {
    padding-top:15px;
    padding-left: 25px;
    width: 100%;
}

.image-container {
    position: relative;
    width: 90%;
    height: 80%;
    border: 1px solid #d3d3d3;
    border-radius: var(--image-border-radius);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    align-self: center;
}

.edit-image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.recipe-image-upload {
    border-radius: var(--image-border-radius);
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire container */
    object-position: center;
    /* Center the image within the container */
    display: block;
}

.image-actions {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    display: flex;
    gap: 5px; /* Space between buttons */
    margin-right: 30px;
}

.add-more-images-wrapper{
    padding-left: 25px;
    padding-bottom: 10px;
}

.add-more-images-btn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.add-more-images-icon {
    font-size: 20px;
    color: orange;
}


.image-actions button {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    border: none;
    border-radius: 40px;
    padding: 5px 10px;
    cursor: pointer;
}

.image-actions button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.custom-file-upload {
    position: relative;
    display: inline-block;
    background-color: orange;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-file-upload i {
    font-size: 30px;
    /* Adjust the icon size as needed */
    cursor: pointer;
    display: block;
    padding: 10px;
    /* Add padding for spacing around the icon */
}

.custom-file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.add-file-title {
    color: orange;
    margin-top: 10px;
    font-size: 16px;
}


.ingredients-steps {
    height: fit-content;
}

.ingredients-steps-section {
    border: 1px solid #e6e5e5;
    padding: var(--padding-description);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.publish-btn {
    background-color: orange;
    color: white;
    border: 1px solid transparent;
    border-radius: 40px;
    font-weight: bold;
    width: 130px;
    height: 35px;
    margin-right: var(--margin-sides);
    font-size: 18px;
}

.submit-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.steps-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.instruction-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.remove-icon {
    margin-left: 10px;
    font-size: 20px;
}

.add-btn-add-recipe {
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 0px;
}

.add-icon {
    color: orange;
    font-size: 20px;
    margin-right: 10px;
}

.custom-dropdown {
    margin-right: 10px;
}

.input-container {
    position: relative;
    margin-right: 10px;
}

.ingredient-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    /* Set the maximum height as per your preference */
    overflow-y: auto;
    /* Enable vertical scrolling if the content exceeds the max height */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.toggle-bar {
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
}


.ingredient-suggestions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ingredient-suggestions li {
    padding: 8px;
    cursor: pointer;
}

.ingredient-suggestions li:hover {
    background-color: #f0f0f0;
}

.amount-input,
.measure-input {
    width: 200px;
}

.ingredient-input {
    width: 200px;
}

.selectWithScrollbar {
    max-height: 100px;
    overflow-y: auto;
}

.tags-section {
    margin-left: var(--margin-sides);
    margin-right: var(--margin-sides);
    margin-bottom: var(--section-bottom-margin);
    padding-left: var(--padding-description);
    padding-right: var(--padding-description);
    padding-bottom: 10px;
    padding-top: 20px;
    height: fit-content;
    border: 1px solid #e6e5e5;
    min-height: 450px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.select-container {
    display: flex;
    flex-direction: column;
    /* Stack label and select vertically */
    margin-bottom: 10px;
    /* Adjust the space between each select menu */
    margin-right: 30px;
    margin-bottom: 30px;
}

/* Optional: Adjust the width of each select menu if needed */
.select-container select {
    width: 190px;
    /* Adjust as per your design */
}

.category-name {
    margin-left: 6px;
    margin-bottom: 5px;
}

.select-category {
    width: 200px;
}

.separator {
    border: 0.5px dashed black;
    width: calc(100% + 40px);
    /* 20px on each side (left + right) */
    margin-left: -20px;
    /* Compensate for the extra width on the left */
    margin-right: -20px;
    /* Compensate for the extra width on the right */
    border-style: dashed;
    /* Set the border style to dashed */
    border-width: 1px;
    /* Adjust the width of the dashes as needed */

}

.selected-tags-container {
    width: 100%;

}

.selected-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.tag-rec {
    border: 1.5px solid orange;
    border-radius: 30px;
    padding: 8px;
    color: orange;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.tag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 30px;
}

.remove-tag {
    color: orange;
}

.missing-input {
    box-shadow: 0 0 5px red;
    /* Add a red glow effect using box-shadow */
}

.error-message-empty{
    margin-top: 10px;
    margin-bottom: 20px;
}