.collections-container {
    padding-top: 80px;
}

.app-body {
    background-image: url('../../public/images/home-bg.jpg');
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Set the height of the container to full viewport height */
    background-size: cover;
    /* to resize the image to cover the entire element */
    background-position: center;
    /* to center the image horizontally and vertically */
}

.app-body {
    background-image: url('../../public/images/home-bg.jpg');
    display: flex;
    flex-direction: column;
    /* Stack child elements vertically */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Set the height of the container to full viewport height */
    background-size: cover;
    /* Resize the image to cover the entire element */
    background-position: center;
    /* Center the image horizontally and vertically */
}


#btn-home-menu {
    background-color: #27A617;
    border-color: #27A617;
    border-radius: 25px;
    display: block;
    /* Make button block-level */
    margin: 20px auto 0 auto;
    /* Center button horizontally and add some top margin */
    width: inherit;
    font-size: 1.2em;
    margin-top: 30px;
    height: 50px;
}


.home-menu {
    width: 400px;
    /* Set the width of the form */
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.category-header:hover {
    /* add your hover styles here */
    cursor: pointer;
}

.search-recipe-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}


.filter-menu {
    width: 20%;
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    margin-right: 10px;
    margin-left: 20px;
    padding-left: 3px;
}


.recipes-container {
    width: calc(80% - 30px);
    /* subtract the margin from the width */
    display: flex;
    flex-wrap: wrap;

}

.filter-menu::-webkit-scrollbar {
    width: 7px;
}

.filter-menu::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.filter-menu::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.recipe-card-wrapper {
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    margin: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.recipe-card-wrapper:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: transparent;
}

.category-header {
    display: flex;
    justify-content: space-between;
}

.category-toggle-btn {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: white;
    border: 0ch;
}
.category-toggle-btn:hover {
    background-color: white;
}
/* Add this CSS to style the "No results found" message */
.no-results-message {
    font-size: 30px;
    color: #555; /* Change the color to your preference */
    margin-top: 20%;
    margin-left: 35%;
  }
