.connect-body {
  display: flex;
  height: 100vh;
}

.connect-image {
  width: auto;
  /* Allow the image to determine its width */
  height: 100%;
  object-fit: contain;
  transform: scaleX(-1);
}

.image-container-login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.form-container-login {
  background-color: black;
  flex: 1;
  padding: 20px;
  /* Add padding as needed */
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Set height to 100% of the viewport height */
}

.logo-form-login {
  text-align: center;
  /* Center the logo horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Set height to 100% */
  width: 100%;
}

.logo-login {
  width: 100px;
  /* Set the width as needed */
  height: auto;
  /* Maintain the aspect ratio */
  margin-bottom: 20px;
}

.form-connect {
  width: 50%;
  height: 60%;
  background-color: white;
  padding: 20px;
  /* Add padding as needed */
  border-radius: 60px;
  /* Adjust border-radius as needed for rounded corners */
}

.form-title {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 20px;
  color: orange;
}

.input-login {
  background-color: #dedbdb;
  border-color: #dedbdb;
  border-radius: 30px;
}

.login-buttons {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

#btn-login,
#btn-register {
  background-color: orange;
  border-color: orange;
  border-radius: 15px;
  margin: 20px 5px 0;
  /* Adjusted margin to create space between buttons */
  font-weight: 600;
  font-size: 18px;
  width: 150px; /* Adjust the width as needed */
  color: white;
}

#btn-register {
  background-color: transparent;
  border-color: orange;
  color: orange;
}

/* 

.logo-register {
  width: 20%;
  height: 20%;
  margin-bottom: 7px;
}


.input-select {
  height: max-content;
  font-size: 15px;
}

.input-login.error {
  border-color: red;
  background-color: #f5c6c6;
}

.error-message {
  display: none;
}

.visible {
  display: block;
  color: red;
  font-weight: bold;
}

.input-register.error {
  border-color: red;
  background-color: #f5c6c6;
}

.recipe_image {
  width: 50px;
  height: 30px;
} */