@import url('./Global.css');

.ing-page-main-container {
    margin-top: var(--navbar-height);
}

.ing-page-head {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--head-color);
    height: 400px;
}

.ing-page-main-title {
    margin-top: -40px;
    color: var(--gray-text-color);
    font-size: 60px;
}

.ing-page-sub-title {
    color: var(--gray-text-color);
    margin-top: 20px;
    font-size: 20px;
}

.ing-page-search-container {
    display: flex;
    justify-content: space-between;
    /* Optional: Adjust spacing between divs */
    align-items: center;
    /* Optional: Aligns items vertically */
    margin-top: 40px;
    margin-left: 60px;
}

.ing-page-bottom {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.grocery-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}

.ing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 30px;
}

.ing-rec {
    border: 1.5px solid #A6A6A6;
    border-radius: 30px;
    padding: 8px;
    color: rgb(72, 72, 72);
    min-width: 150px;
    max-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    
    text-align: center;
}

.remove-ing {
    color: orange;
}

.groceries-list-container {
    padding: 20px;
    border: 1px solid var(--gray-frame);
    height: fit-content;
}

.search-ing-input-container {
    position: relative;
    margin-right: 10px;
}

.grocery-input {
    width: 400px;
    padding-left: 35px;
}

.grocery-page-input-wrapper {
    position: relative;
    display: inline-block;
}

.grocery-page-saerch-icon {
    color: var(--gray-text-color);
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* Allows clicks to pass through to the input */
}

.add-btn-grocery {
    border: none;
    background-color: transparent;
}

.ing-alrady-exists-msg {
    color: red;
    margin-top: 10px;
}

.empty-grocery-list-message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 105px;
}

.grocery-list-buttons {
    align-self: flex-end;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.clear-all-groceies-btn,
.find-recipes-groceies-btn {
    border-color: orange;
    border-radius: 40px;
    color: orange;
    background-color: white;
    border: 1px solid;
    font-weight: bold;
    width: 150px;
    height: 35px;
    margin-right: 15px;
}

.clear-all-groceies-btn {
    color: orange;
    background-color: white;
    margin-right: 15px;
}

.find-recipes-groceies-btn {
    color: white;
    background-color: orange;
}

.recipes-by-grocery-container {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid var(--gray-frame);
    height: fit-content;
}

.recipes-by-grocery {
    margin-top: 30px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* Ensure items start from the left */
    gap: 1.5%;
}

.grocery-page-no-results-message {
    width: 100%;
    text-align: center;
    padding: 30px;
}

.grocery-search-alert-message {
    margin-top: 15px;
    margin-right: 5px;
    color: red;
    align-self: flex-end;
    text-align: center;
}