@import url('./Global.css');

.ing-page-main-container{
    margin-top: var(--navbar-height);
}

.ing-page-head{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--head-color);
    height: 400px;
}

.ing-page-main-title{
    margin-top: -40px;
    color: var(--gray-text-color);
    font-size: 60px;
}

.ing-page-sub-title{
 color: var(--gray-text-color);
 margin-top: 20px;
 font-size: 20px;
}

.ing-page-search-container{
    display: flex;
    justify-content: space-between; /* Optional: Adjust spacing between divs */
    align-items: center; /* Optional: Aligns items vertically */
    margin-top: 40px;
    margin-left: 60px;
}

.ing-page-bottom{
    border: 1px solid var(--gray-frame);
    height: fit-content;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.grocery-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}

.ing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 30px;
}

.ing-rec {
    border: 1.5px solid #A6A6A6;
    border-radius: 30px;
    padding: 8px;
    color: rgb(72, 72, 72);
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.remove-ing {
    color: orange;
}

.groceries-list-container{
    padding: 20px;
}

.search-ing-input-container {
    position: relative;
    margin-right: 10px;
}

.grocery-input {
    width: 400px;
    padding-left: 15px;
}

.add-btn-grocery {
    border: none;
    background-color: transparent;
}
