
@import url('../components/Components.css');

.my-recipes-main-container{
    margin-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
}

.my-recipes-head-img-container{
    width: 100%;
}

.my-recipes-head-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
    filter: brightness(50%);
}

.my-recipes-head {
    position: relative;
}

.my-recipes-img-container {
    position: relative;
}

.hat-title {
    margin-top: -50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.my-recipes-hat{
    width: 200px;
    height: auto;
    margin-bottom: -15px;
}

.my-recipes-title {
    color: white; /* Adjust color for better readability */
    font-size: 75px; /* Adjust font size as needed */
    text-align: center; /* Centers the text inside the div */
    font-weight: bold;
}

