.times-yield{
    border-left: 4px solid green;
    padding-left: 10px;
    margin: 40px 0;
}

.recipe-container{
    margin: 0 15%;
}

.step-container{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.step-index{
    font-size: 20px;
    color: rgb(56, 55, 55);
    font-weight: 500;
    line-height: 1;
}

.step-text{
    color: rgb(155, 151, 151);
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.recipe-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .recipe-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .instructions, .ingredients {
    flex-basis: 50%;
  }

  .recipe-image {
    display: block;
    margin-top: 30px;
  }
  