@import url('./Global.css');

:root {
    --name-password-width: 300px;
    --email-width: 400px;
}

.settings-main-container {
    margin-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
}

.settings-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.settings-head-img-container {
    width: 50%;
    /* Increase the width to 70% */
    height: 100%;
    overflow: hidden;
    /* Ensure no overflow */
}

.settings-head-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the container without distorting */
    object-position: top left;
    /* Start from the top left corner */
}

.settings-head-title-container {
    background-color: var(--head-color);
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.settings-title {
    color: var(--gray-text-color);
    font-size: 65px;
}

.settings-title-icon {
    margin-top: 90px;
    font-size: 110px;
    color: orange;
}

.settings-page-bottom {
    margin: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
    border: 1px solid var(--gray-frame);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
}

#black-title-settings {
    margin-top: 10px;
    margin-bottom: 20px;
}

.settings-inputs-line {
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
}

.settings-desc-field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.settings-input-title {
    font-size: 16px;
    margin-bottom: 7px;
    margin-left: 5px;
}

.settings-input-field {
    width: var(--name-password-width);
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    padding: 8px;
}

.settings-input-field:focus {
    border-color: #ffa500;
    box-shadow: 0 0 5px rgba(52, 73, 94, 0.5);
    outline: none;
}

.email-settings {
    width: var(--email-width);
    margin-right: 30px;
}

.settings-district-container {
    margin-bottom: 20px;
    font-size: 14px;
}

#settings-input-district {
    width: var(--email-width);
    padding-left: 10px;
    padding-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
}

.settings-save-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 45px;
}

.settings-save-btn {
    background-color: orange;
    color: white;
    border: 1px solid transparent;
    border-radius: 40px;
    width: 150px;
    height: 35px;
    font-size: 17px;
    font-weight: 600;
}

.pass-settings-error,
.pass-settings-error:focus {
    width: var(--name-password-width);
    border: 1px solid red;
    /* Set a solid red border */
    box-shadow: 0 0 5px red;
    /* Add a red glow effect using box-shadow */
}

.error-msg-settings {
    text-align: center;
    display: none;
    margin-bottom: 0px;
    margin-top: 80px;
    font-size: 14px;
    display: block;
    color: red;
    width: var(--name-password-width);
    position: absolute;
}