
@import url('./Global.css');

.trending-main-container{
    margin-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
}

.trending-head{
    display: flex;
    flex-direction: row;
}

.trending-img-container{
    width: 50%;
    height: 100%;
    overflow: hidden;

}

.trending-head-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the container without distorting */
    object-position: top left;
    /* Start from the top left corner */
}

.trending-title-container{
    background-color:var(--head-color);
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-title{
    color: var(--gray-text-color);
    font-size: 75px;
}

.trending-recipes-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Ensure items start from the left */
    gap: 1.5%;
    /* Adjust the gap for spacing between cards */
}

.trending-recipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.trending-index{
    margin-top: 20px;
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: var(--gray-text-color);;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.card-trending{
    margin-bottom: 10;
}