@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.welcome-title-up {
  font-size: 25px;
  color: orange;
  margin-bottom: 30px;
  font-family: 'Pacifico', cursive;
}

.welcome-title-bottom {
  font-weight: bold;
  font-size: 55px;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-login-welcome,
#btn-register-welcome {
  background-color: orange;
  border-color: orange;
  border-radius: 15px;
  margin: 20px 5px 0;
  /* Adjusted margin to create space between buttons */
  font-weight: 600;
  font-size: 18px;
  width: 120px; /* Adjust the width as needed */
  color: black;
}

#btn-register-welcome {
  background-color: transparent;
  border-color: orange;
  color: orange;
  margin-left: 10px;
}

#btn-login-welcome:hover {
  background-color: darkorange; /* Change background color on hover */
  border-color: darkorange; /* Change border color on hover */
}

#btn-register-welcome:hover {
  background-color: rgba(255, 165, 0, 0.1); 
}

.welcome-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.welcome-video {
  flex: 1;
}

.welcome-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 20px;
  text-align: center;
  width: 30%;
  height: 100%;
}

.logo-welcome {
  width: 20%;
  margin-bottom: 20px;
  align-self: flex-start; /* Align only the logo to the start of the flex container (top) */
}

.welcome-connect-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  text-align: center;
  max-width: 400px; /* Adjust max-width as needed */
  margin: auto; /* Center horizontally */
  height: 100%; /* Ensure full height */
  margin-top: -30px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Set the height to fill the viewport */
  width: 70%;
  overflow: hidden;
  /* Ensure that any overflowing content is hidden */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This will make the video cover the entire container */
}


.sub-title {
  font-size: 25px;
  color: rgb(236, 195, 146);
}

#guest-welcome {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: orange;
  position: relative;
  outline: none;
  border: none;
}

#guest-label-welcome {
  font-style: italic;
  color: orange;
  position: relative;
  outline: none; 
}

.guest-arrow {
  font-size: 1em;
  transform: scaleX(2);
  animation: moveArrow 1s ease-in-out infinite;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px); /* Adjust the distance the arrow moves */
  }
  100% {
    transform: translateX(0);
  }
}
