:root {
  --comment-margin: 55px;
}

.comments-container {
    margin-top: 60px;
    width: 65%;
  }
  
  .comment-line{
    width: 100%;
  }
  
  .comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .comment-title{
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .comment-count{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .user-container {
    display: flex;
    align-items: center;
  }
  
  #user-icon {
    margin-right: 15px;
    font-size: 40px;
    color: rgba(182, 119, 2, 0.875);
  }
  
  #comment-text{
    margin-left: var(--comment-margin);
  }
  
  #user-name{
    font-weight: bold;
  }
  
  .comment-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .user-container {
    display: flex;
    align-items: center;
  }
  
  #user-icon {
    margin-right: 15px;
    font-size: 40px;
    color: rgba(182, 119, 2, 0.875);
  }
  
  #user-name {
    font-weight: bold;
  }
  
  #comment-date {
    margin-left: auto;
    font-size: 15px;
  }
  
  
  #comment-text {
    margin-left: 55px;
    width: 80%;
  }
  
  .no-comments-container {
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .no-comments-container span {
    text-align: center;
    display: block;
  }
  
  #no-comment-first{
    margin-top: 55px;
    font-weight: bold;
    font-size: 18px;
  }

  .comment-input {
    width: 93%;
    height: 100px; /* This can be adjusted based on your preference */
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #ffe4b5;
    outline: none;
    margin-left: calc(var(--comment-margin) - 5px);
    text-align: left;
    vertical-align: top;
    line-height: normal;
  }
  
  .comment-input::placeholder {
    text-align: left;
    vertical-align: top;
    line-height: normal;
  }
  
  .comment-input:focus {
    border: 2px solid #efc2af;
  }
  
  textarea {
    resize: none; /* Disable textarea resizing */
    width: 100%; /* Occupy 100% of the container width */
    box-sizing: border-box; /* Include padding and border in the total width */
  }
  