@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato&family=Poppins:wght@300&display=swap');

:root{
  --font-size: 15px;
}

.our-navbar {
  background-color: rgb(26, 26, 26);
  height: 76px;
  color: white !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* Add a shadow */
  font-family: 'Poppins', sans-serif;
  /* font-size: 17px; */
}

.logo-navbar {
  width: 100px;
  height: 40px;
  ;
}


.name-container {
  display: flex;
  /* Set the container to use flexbox */
  align-items: center;
  /* Center the items vertically */
}

.name-container .bi {
  margin-right: 8px;
  /* Add some space between the icon and the text */
}

.dropdown-menu-text {
  background-color: transparent;
  border: 0px;
  padding: 0px;
  font-size: 15px;
  cursor: pointer;
}

.dropdown-menu-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

.dropdown-menu[data-bs-popper] {
  left: auto;
  /* Set left to "auto" to remove the left positioning */
}

.dropdown-menu.dropdown-position {
  position: absolute;
  top: 100%;
  /* Position it just below the navbar */
  right: 0;
  /* Adjust this if needed to align with the right edge of the navbar */
  z-index: 1000;
  /* Adjust the z-index as needed to ensure it appears above other elements */
}

.dropdown-menu-button{
  display: flex;
  align-items: center;
}

.icon{
  width: 1em; /* Set the width of the icon to 1em */
    height: 1em; /* Set the height of the icon to 1em */
  margin-right: 10px;
}

ul {
  margin-left: 50%;
}

.navbar-text {
  color: white;
  font-size: var(--font-size);
}

.search-bar {
  width: 20%;
  position: sticky
}

.nutrition-table {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  color: #797979;
}

.nutrition-field {
  padding: 5px 10px;
  text-align: center;
  word-break: break-all;
}


.nutrition-divider {
  border-left: 2px solid orange;
  margin: 0 5px;
  /* Adjust the margin for spacing */
}

.field-value {
  font-weight: bold;
  font-size: 25px;
}

.field-label {
  font-size: 18px;
}

.nutrition-title {
  font-weight: bold;
  font-size: 35px;
}

.nutrition-container {
  margin-top: 80px;
}

.nutrition-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.search-icon {
  color: rgb(0, 0, 0);
}

.search-input {
  border-radius: 30px;
  font-size: var(--font-size);
  /* Adjust the value as needed for your desired radius */
}

.input-side {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

.form-control:focus {
  box-shadow: none;
  border: none;
}

form-control:not(:focus) {
  box-shadow: none;
  /* You may also set it to 'initial' if you want to reset it to default */
  border: none;
  /* You may also set it to 'initial' if you want to reset it to default */
}

.search-input {
  border: none !important;
  outline: none !important;
  -webkit-appearance: none !important;
}

.search-input::placeholder {
  font-style: italic;
}

.like-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  border: 2px solid orange;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  margin-left: 5px;
}

.like-text {
  margin-left: 8px;
  color: orange;
  font-size: 25px;
}

/* Style for the heart icon */
.like-wrapper i {
  fill: currentColor;
  margin-left: 15px;
  margin-right: 8px;
  font-size: 25px;
}

.like-wrapper .bi-heart {
  color: orange;
}

.like-wrapper .bi-heart-fill {
  color: orange;
}

.heart-icon {
  width: 16px;
  height: 16px;
}

.bi-heart {
  color: #000000;
}

.bi-heart-fill {
  color: orange;
}

.navigate:hover {
  cursor: pointer;
}

.heart:hover {
  cursor: pointer;
}

.carousel {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.slide-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  transition: transform 0.5s ease-in-out;
}

.active {
  transform: translateX(0);
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 40%;
  background-color: rgb(224, 199, 151);
  opacity: 80%;
  color: white;

}


.left-btn {
  left: 10px; /* Adjust the left position as needed */
  z-index: 1; 
}

.right-btn {
  right: 10px; /* Adjust the right position as needed */
  z-index: 1; 
}


.carousel-btn:first-of-type {
  left: 10px;
}

.carousel-btn:last-of-type {
  right: 10px;
}

#add-recipe-btn-navbar {
  background-color: orange;
  border-color: orange;
  border-radius: 40px;
  color: black;
  transition: background-color 0.3s;
}

#add-recipe-btn-navbar:hover {
  background-color: darkorange; /* Adjust the color to make it slightly darker */
}
