.our-navbar{
    background-color: #27A617;
    color: white !important;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.our-navbar span {
    color: white;
    font-weight: bold;
}


.logo-navbar{
    width: 60px;
    height: 60px;;
}


.name-container {
    display: flex; /* Set the container to use flexbox */
    align-items: center; /* Center the items vertically */
  }
  
  .name-container .bi {
    margin-right: 8px; /* Add some space between the icon and the text */
  }

.logout-btn {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    font-size: inherit;
    cursor: pointer;
}

.dropdown-menu-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .recipe-card{
    width: 18em;
    height: 9em;
  }